@import "tailwindcss";

@theme {
  --color-brand-primary: rgb(38, 35, 39);
  --color-brand-secondary: rgb(125, 120, 119);
  --color-brand-border: rgb(193, 185, 188);
  --color-accent-primary: rgb(253, 184, 19);
  --color-accent-secondary: rgb(196, 164, 100);
  --color-state-success: rgb(59, 110, 68);
  --color-state-error: rgb(185, 46, 46);
  --color-background-light: rgb(248, 249, 250);
  --color-background-dark: rgb(50, 48, 52);
}