---
// Financing component for GreenSky financing options
---

<div class="financing-module box-border m-[3px] text-left border-2 border-solid border-[#207e20] w-[644px] rounded">
  <div>
    <img src="https://www.greensky.com/merchantkit/images/finance_buttons/headers/header_640.jpg?v=3.0.612" width="640" alt="Financing Options from GreenSky" tabindex="0" class="w-[640px]" />
  </div>
  <div>
    <img src="https://www.greensky.com/merchantkit/images/finance_buttons/product_headers/roofing_product_header_640.jpg?v=3.0.612" width="640" alt="Finance Your Project" tabindex="0" class="w-[640px]" />
  </div>
  <div>
    <a href="https://projects.greensky.com/MerchantLoanApplication?apptype=short&merchant=81121073&dealerplan=2521&channel=External-Button-03" target="_blank" tabindex="0">
      <img src="https://www.greensky.com/merchantkit/images/finance_buttons/plans/2521_640x50.jpg?v=3.0.612" width="640" alt="Plan 2521" class="w-[640px]" />
    </a>
  </div>
  <div>
    <a href="https://projects.greensky.com/MerchantLoanApplication?apptype=short&merchant=81121073&dealerplan=9991&channel=External-Button-03" target="_blank" tabindex="0">
      <img src="https://www.greensky.com/merchantkit/images/finance_buttons/plans/9991_640x50.jpg?v=3.0.612" width="640" alt="Plan 9991" class="w-[640px]" />
    </a>
  </div>
  <div>
    <a href="https://projects.greensky.com/MerchantLoanApplication?apptype=short&merchant=81121073&dealerplan=4158&channel=External-Button-03" target="_blank" tabindex="0">
      <img src="https://www.greensky.com/merchantkit/images/finance_buttons/plans/4158_640x50.jpg?v=3.0.612" width="640" alt="Plan 4158" class="w-[640px]" />
    </a>
  </div>
  <div>
    <img src="https://www.greensky.com/merchantkit/images/finance_buttons/footers/footer_640.jpg?v=3.0.612" width="640" alt="*Subject to credit approval. These examples are estimates only. Actual payment amounts based on amount and timing of purchases. Call 866-936-0602 for financing costs and terms. Loans for the GreenSky® consumer loan program are provided by Synovus Bank, Member FDIC, NMLS #408043, without regard to age, race, color, religion, national origin, gender, disability, or familial status. GreenSky Servicing, LLC services the loans on behalf of your lender, NMLS #1416362. www.nmlsconsumeraccess.org. GreenSky® is a registered trademark of GreenSky, LLC and is licensed to banks and other financial institutions for their use in connection with that consumer loan program. GreenSky Servicing, LLC is a financial technology company that manages the GreenSky® consumer loan program by providing origination and servicing support to banks and other financial institutions that make or hold program loans. GreenSky, LLC and GreenSky Servicing, LLC are not lenders. All credit decisions and loan terms are determined by program lenders." tabindex="0" class="w-[640px]" />
  </div>
</div>